.info{
    padding-bottom: 6px;
    font-size: 11px;
    font-weight: 700;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.padded{
    padding: 2px 8px;
}

.smoked {
    padding: 0 8px;
    font-size: 12px;
    line-height: 30px;
    color: #fff;
    border-radius: 4px;
    background-color: rgba(0,0,0,.15);
    text-align: center;
    margin-bottom: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

.smoked1 {
    padding: 0 8px;
    font-size: 12px;
    line-height: 30px;
    color: #fff;
    border-radius: 4px;
    /*background-color: rgba(0,0,0,.15);*/
    /*background-color: #fba02b;*/
    background-color: #9c7542;
    text-align: center;
    margin-bottom: 5px;
    cursor: pointer;
    text-transform: uppercase;
}